
<div layout="row" layout-wrap>
  <section flex="75">

    <!-- 6 colonnes, 5 lignes -->
    <div layout="row" layout-wrap data-ng-repeat="nameTab in cardsPictureName">
      <div flex="15" data-ng-repeat="name in nameTab">

        <div class="flip"  ng-class="{active: activated[name]}"  ng-click="makeFlip(name)">
              <img class="front" ng-src="assets/images/card/dos/dos.png" >
              <img class="back" ng-src="assets/images/card/face/{{name}}" >
        </div>

      </div>
    </div>

  </section>
  <section flex="25">

  </section>
</div>
